.footer {
  margin: 3.125em auto;
  color: #af0404;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer p {
  width: 100%;
}
.footer .redes .icon {
  color: #af0404;
  margin-left: 15px;
  font-size: 1.4em;
}
