.pokemonElegido {
  display: flex;
  margin: 0.5em auto 3.8em auto;
  justify-content: space-around;
  align-items: center;
}
.imagenElegido {
  text-align: center;
  margin-right: 10em;
}
.imagenElegido h1 {
  font-size: 1.6em;
  text-transform: uppercase;
}
.imagenElegido img {
  object-fit: contain;
  width: 11em;
  height: 11em;
  margin-bottom: 0.3em;
}
.atributos {
  width: 12em;
  height: auto;
  border-radius: 5px;
  background-color: #af0404;
  color: #ebeb1a;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0.6em 0.3em 0.3em rgb(214, 214, 214);
}
.atributos:hover {
  box-shadow: 0.625em 0.3125em 0.3125em rgb(187, 187, 187);
}
.atributos h2 {
  font-size: 1.25em;
  text-transform: uppercase;
}
.atributos p {
  width: 100%;
  font-size: 1em;
}
